# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Ints-and-Floats" data-toc-modified-id="Ints-and-Floats-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ints and Floats</a></div><div class="lev2 toc-item"><a href="#Case-Study-1:-Baghead's-Bag-of-Riches" data-toc-modified-id="Case-Study-1:-Baghead's-Bag-of-Riches-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Case Study 1: Baghead's Bag of Riches</a></div><div class="lev2 toc-item"><a href="#Case-Study-2:-Peter-Gregory's-Profit" data-toc-modified-id="Case-Study-2:-Peter-Gregory's-Profit-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Case Study 2: Peter Gregory's Profit</a></div><div class="lev2 toc-item"><a href="#Recap-of-what-you-already-know" data-toc-modified-id="Recap-of-what-you-already-know-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Recap of what you already know</a></div><div class="lev1 toc-item"><a href="#Converting-between-types" data-toc-modified-id="Converting-between-types-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Converting between types</a></div><div class="lev2 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev1 toc-item"><a href="#Revisiting-Mathematical-Operations" data-toc-modified-id="Revisiting-Mathematical-Operations-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Revisiting Mathematical Operations</a></div><div class="lev1 toc-item"><a href="#Equality-and-Comparison-Operators" data-toc-modified-id="Equality-and-Comparison-Operators-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Equality and Comparison Operators</a></div><div class="lev2 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-41"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Exercise</a></div>

# Ints and Floats

While there are multiple formats to represent numerical values, this is an introductory course. We will primarily focus on two representations - Integers and Floats (Decimals point numbers).

In [1]:
a = 1
print(a)
print(type(a))

1
<class 'int'>

In [2]:
b = 2.0
print(b)
print(type(b))

2.0
<class 'float'>

Can we add an 'int' and a 'float'?

In [3]:
c = a + b
print(c)
print(type(c))

3.0
<class 'float'>

In [4]:
# How many kittens did the cat give birth to?
kittens = 3
print(type(kittens) )

<class 'int'>

In [ ]:
# What is the value of Pi?
val_pi = 3.142
print(type(val_pi))

In [5]:
# Not an integer
hooli_founder = 30,000,000,000
bachmanity = 60,000,000,000
moolah = hooli_founder + bachmanity 
print(moolah)

(30, 0, 0, 0, 60, 0, 0, 0)

In [6]:
type(moolah)

tuple

## Case Study 1: Baghead's Bag of Riches

Hooli has just offered Baghead a fantastic offer. He gets a salary, a bonus, vested equity, and free soda. Should he take it?

In [7]:
salary = 500000
bonus = 0.75
equity = 1000000
vesting_period = 4

total_annual_value = salary*(1+bonus) + (equity/vesting_period)
print(total_annual_value)

1125000.0

In [8]:
salary*(1+bonus)

875000.0

In [ ]:
salary + (salary*bonus)

In [9]:
equity/vesting_period

250000.0

In [10]:
print("Baghead's Yearly Offer is: $", total_annual_value)

Baghead's Yearly Offer is: $ 1125000.0

## Case Study 2: Peter Gregory's Profit

Peter analyzed cockroach samples at a restaurant in January, and bought 1,000,000 shares of a cooking oil company at \$200 per share. He sold his position in September at $450. Calculate his profit.

In [ ]:
close_jan = 200
close_sep = 450
return_rate = (close_sep - close_jan)/close_jan
print(return_rate)

Note: The above doesn't take into account slippage, cost of transaction, brokerage etc. It's just to illustrate mathematical operations in Python.

## Recap of what you already know

In [15]:
# ints are whole numbers
int1 = 1
int2 = 42
int3 = -27

In [11]:
# floats are anything with a decimal point
float1 = 1.25
float2 = .496
float3 = 3.0

# Converting between types

In [12]:
type(float3)

float

In [13]:
new_int = int(float3)
print(new_int)
print("The type is: ", type(new_int))

3
The type is:  <class 'int'>

In [16]:
# Time for revenge!
new_float1= float(int1)
print(new_float1)

1.0

## Exercise

Convert the following:
    
* 42 into float
* 27.3 into an integer
* The result of 99/36 into an integer

In [ ]:
# Enter your code below

# Revisiting Mathematical Operations

+ `+`: plus to add numbers
+ `-`: minus, to subtract numbers, or assign a negative value (eg. -5, -25, -100 etc)
+ `*`: multiply numbers
+ `/`: divide number
+ `%`: modulo operator

In [ ]:
print("Addition")
print(1 + 1)
print(1.0 + 2.0)

In [ ]:
print("Subtraction")
print(100-50)
print(75.3-22.7)

In [ ]:
print("Multiplication")
print(2*5)
print(5.0 * 7.5)

In [ ]:
print("Division")
print(21 / 7)
print(22.0 / 7)

In [ ]:
# Another type of division
22.0//7

Also known as 'Floor Division'. Read about it here - https://docs.python.org/3.1/tutorial/introduction.html

In [ ]:
print("Modulo Operator")
print(5%2) # Prints 1, as 1 is the remainder when 5 is divided by 2
print(4%2) # Prints 0

# Equality and Comparison Operators

+ `==`: equality
+ `<`: less than
+ `<=`: less than or equal to
+ `>`: greater than
+ `>=`: greater than or equal to
+ `!=`: not equal to

In [17]:
print("Equality")
print(2 == 2) # Will print True
print(2 == 1) # Will print False

Equality
True
False

In [18]:
print("Comparison")
print(0 > 0) # False, since they are equal
print(1 > 0) # True, since 1 is greater than 0
print(1.0 < 1) # False, since numerically they are the same
print(2 >= 2) # True, since it checks for two conditions, greater than as well as equal to
print(2 <= 2) # True, since it checks for two conditions, less than as well as equal to
print(1 != 2) # True, since 1 is not equal to 2

Comparison
False
True
False
True
True
True

## Exercise

Create a tip calculator that takes into account the cost of food, sales tax, and tip.

In [ ]:
# Enter your code below:
food = xx
sales_tax = xx #Remember to enter in decimals. So 7.5% will be 0.075
tip = xx # Same as above, if you're calculating tip as percentage of food cost

tax_cost = food*(1 + sales_tax)
after_tip = tax_cost*(1 + tip)
print(after_tip)