# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Lists" data-toc-modified-id="Lists-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Lists</a></div><div class="lev2 toc-item"><a href="#Final-Problem" data-toc-modified-id="Final-Problem-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Final Problem</a></div><div class="lev2 toc-item"><a href="#Indexing-and-Slicing-:-How-to-access-parts-of-a-list" data-toc-modified-id="Indexing-and-Slicing-:-How-to-access-parts-of-a-list-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Indexing and Slicing : How to access parts of a list</a></div><div class="lev3 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-121"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2 toc-item"><a href="#List-Functions" data-toc-modified-id="List-Functions-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>List Functions</a></div><div class="lev2 toc-item"><a href="#Finding-Items" data-toc-modified-id="Finding-Items-14"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Finding Items</a></div><div class="lev3 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-141"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2 toc-item"><a href="#Numerical-Functions-with-Lists" data-toc-modified-id="Numerical-Functions-with-Lists-15"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Numerical Functions with Lists</a></div><div class="lev3 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-151"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-16"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Exercise</a></div><div class="lev1 toc-item"><a href="#Sets" data-toc-modified-id="Sets-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Sets</a></div><div class="lev3 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-201"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev1 toc-item"><a href="#Tuples" data-toc-modified-id="Tuples-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Tuples</a></div><div class="lev2 toc-item"><a href="#Tuples-and-Numbers" data-toc-modified-id="Tuples-and-Numbers-31"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Tuples and Numbers</a></div><div class="lev1 toc-item"><a href="#Dictionaries" data-toc-modified-id="Dictionaries-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dictionaries</a></div><div class="lev2 toc-item"><a href="#Common-Dictionary-Operations" data-toc-modified-id="Common-Dictionary-Operations-41"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Common Dictionary Operations</a></div><div class="lev2 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-42"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Exercise</a></div>

Collections of Items: Lists, Sets, Tuples, Dictionaries

# Lists

Python has many ways to store a collection of similar or dissimilar items.

You have already encountered lists, even though you haven't been formally introduced.

## Final Problem

In [2]:
final = "It is with a heavy heart that I take up my pen to write these the last words in which I shall ever record the singular gifts by which my friend Mr. Sherlock Holmes was distinguished."

In [3]:
final = final.replace(".", "")
final = final.split(" ")
final

['It',
 'is',
 'with',
 'a',
 'heavy',
 'heart',
 'that',
 'I',
 'take',
 'up',
 'my',
 'pen',
 'to',
 'write',
 'these',
 'the',
 'last',
 'words',
 'in',
 'which',
 'I',
 'shall',
 'ever',
 'record',
 'the',
 'singular',
 'gifts',
 'by',
 'which',
 'my',
 'friend',
 'Mr',
 'Sherlock',
 'Holmes',
 'was',
 'distinguished']

In [4]:
type(final)

list

<img src="images/pylists.jpg">

Lists are a great way to store items of multiple types.

In [5]:
all_info = ["Sherlock", True, 42]
print(all_info)
print(type(all_info))

['Sherlock', True, 42]
<class 'list'>

In [6]:
more_info = ["Watson", "Hooley", all_info]
print(more_info)
print(type(more_info))

['Watson', 'Hooley', ['Sherlock', True, 42]]
<class 'list'>

## Indexing and Slicing : How to access parts of a list

In [7]:
all_info = ["Sherlock", True, 42]
all_info[0]

'Sherlock'

In [8]:
all_info[1]

True

In [9]:
more_info = ["Watson", "Hooley", all_info]
more_info[-1]

['Sherlock', True, 42]

In [10]:
more_info[-1][0]

'Sherlock'

In [11]:
a_list = [1,2,3,4,5,6,7,8,9,10]
a_list[0]

1

In [12]:
a_list[2:4]

[3, 4]

In [13]:
a_list[1:]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
a_list[-3:]

[8, 9, 10]

In [15]:
a_list[3:6]

[4, 5, 6]

In [16]:
a_list[0:3]

[1, 2, 3]

### Exercise
Print out the second and last items of the list within the list more_info

* all_info = ["Sherlock", True, 42]
* more_info = ["Watson", "Hooley", all_info]

In [17]:
print(more_info[2][1:])

[True, 42]

## List Functions
These come in handy when working with larger data sets where you need to add to your existing information base.

In [18]:
incubees = ["Richard", "Gilfoyle", "Dinesh", "Nelson"]

In [19]:
type(incubees)

list

In [20]:
incubees.append("Jian Yang")
incubees

['Richard', 'Gilfoyle', 'Dinesh', 'Nelson', 'Jian Yang']

In [21]:
brogrammers = ["Aly", "Jason"]
incubees.append(brogrammers)
incubees

['Richard', 'Gilfoyle', 'Dinesh', 'Nelson', 'Jian Yang', ['Aly', 'Jason']]

In [22]:
incubees = ["Richard", "Gilfoyle", "Dinesh", "Nelson"]

In [23]:
incubees.extend(brogrammers)

In [24]:
incubees

['Richard', 'Gilfoyle', 'Dinesh', 'Nelson', 'Aly', 'Jason']

Let's look at this again, comparing the two approaches.

In [25]:
incubees1 = ["Richard", "Gilfoyle", "Dinesh", "Nelson"]
brogrammers1 = ["Aly", "Jason"]
incubees1.append(brogrammers1)
print(incubees1)
print(len(incubees1))

['Richard', 'Gilfoyle', 'Dinesh', 'Nelson', ['Aly', 'Jason']]
5

In [26]:
incubees2 = ["Richard", "Gilfoyle", "Dinesh", "Nelson"]
brogrammers2 = ["Aly", "Jason"]
incubees2.extend(brogrammers2)
print(incubees2)
print(len(incubees2))

['Richard', 'Gilfoyle', 'Dinesh', 'Nelson', 'Aly', 'Jason']
6

In [27]:
incubees = ["Richard", "Gilfoyle", "Dinesh", "Nelson"]
incubees.sort()
print(incubees)

['Dinesh', 'Gilfoyle', 'Nelson', 'Richard']

In [28]:
incubees.reverse()
print(incubees)

['Richard', 'Nelson', 'Gilfoyle', 'Dinesh']

In [29]:
incubees = ["Richard", "Gilfoyle", "Dinesh", "Nelson"]
brogrammers = ["Aly", "Jason"]

print(incubees + brogrammers)

['Richard', 'Gilfoyle', 'Dinesh', 'Nelson', 'Aly', 'Jason']

In [30]:
new_list = incubees + brogrammers
print (new_list*2)

['Richard', 'Gilfoyle', 'Dinesh', 'Nelson', 'Aly', 'Jason', 'Richard', 'Gilfoyle', 'Dinesh', 'Nelson', 'Aly', 'Jason']

As a general rule though, if you're adding a single item, use append. Try what happens if you use the .extend method to add a single item, like "Jian Yang" to our list of original Incubees.

## Finding Items

In [31]:
incubees = ["Richard", "Gilfoyle", "Dinesh", "Nelson"]
incubees.index("Richard")

0

In [32]:
incubees.index("Dinesh")

2

In [33]:
incubees.index("Jian Yang")

ValueError: 'Jian Yang' is not in list

In [34]:
incubees2 = incubees*2

In [35]:
incubees2.count("Richard")

2

In [36]:
incubees = ["Richard", "Gilfoyle", "Dinesh", "Nelson"]
incubees

['Richard', 'Gilfoyle', 'Dinesh', 'Nelson']

In [37]:
incubees.insert(0, "Jian Yang")

In [38]:
incubees

['Jian Yang', 'Richard', 'Gilfoyle', 'Dinesh', 'Nelson']

In [39]:
incubees.pop(0)
incubees

['Richard', 'Gilfoyle', 'Dinesh', 'Nelson']

### Exercise
* Convert the passage below into a list after replacing all punctuation 
* Who is mentioned more times - Sherlock or Moriarty?
* How many times does the author refer to himself? (Hint: Count the use of the word 'my')

In [50]:
passage = """It is with a heavy heart that I take up my pen to write these the last words in which I shall ever record the
singular gifts by which my friend Mr. Sherlock Holmes was distinguished. In an incoherent and, as I deeply feel, an entirely
inadequate fashion, I have endeavored to give some account of my strange experiences in his company from the chance which first
brought us together at the period of the “Study in Scarlet,” up to the time of his interference in the matter of the
“Naval Treaty”—an interference which had the unquestionable effect of preventing a serious international complication. It was my
intention to have stopped there, and to have said nothing of that event which has created a void in my life which the lapse of
two years has done little to fill. My hand has been forced, however, by the recent letters in which Colonel James Moriarty
defends the memory of his brother, and I have no choice but to lay the facts before the public exactly as they occurred. I alone
know the absolute truth of the matter, and I am satisfied that the time has come when no good purpose is to be served by its
suppression. As far as I know, there have been only three accounts in the public press: that in the Journal de Geneve on May 6th,
1891, the Reuter’s despatch in the English papers on May 7th, and finally the recent letter to which I have alluded. Of these the
first and second were extremely condensed, while the last is, as I shall now show, an absolute perversion of the facts. It lies
with me to tell for the first time what really took place between Professor Moriarty and Mr. Sherlock Holmes.
It may be remembered that after my marriage, and my subsequent start in private practice, the very intimate relations which had
existed between Holmes and myself became to some extent modified. He still came to me from time to time when he desired a 
companion in his investigation, but these occasions grew more and more seldom, until I find that in the year 1890 there were only
three cases of which I retain any record. During the winter of that year and the early spring of 1891, I saw in the papers that
he had been engaged by the French government upon a matter of supreme importance, and I received two notes from Holmes, dated
from Narbonne and from Nimes, from which I gathered that his stay in France was likely to be a long one. It was with some
surprise, therefore, that I saw him walk into my consulting-room upon the evening of April 24th. It struck me that he was looking
even paler and thinner than usual."""

In [51]:
passage = passage.replace('.','')
passage = passage.replace(',','')
passage = passage.split()
passage
if passage.count('Sherlock') > passage.count('Moriarty'):
    print('Sherlock is counted more. It is counted ',passage.count('Sherlock'))
elif passage.count('Sherlock') < passage.count('Moriarty'):
    print('Moriarty is counted more. It is counted ',passage.count('Moriarty'))
else:
    print('They are counted the same amount of times.')
# passage.count('my')

They are counted the same amount of times.

## Numerical Functions with Lists
Lists are useful for more than just processing text.

In [52]:
list_a = [21,14,7,19,15,47,42,55,97,92]

In [53]:
len(list_a)

10

In [54]:
sum(list_a)

409

In [55]:
max(list_a)

97

In [56]:
min(list_a)

7

In [57]:
range = max(list_a) - min(list_a)
print(range)

90

### Exercise
list_a = [21,14,7,19,15,47,42,55,97,92]
* Find the average of list_a
* Find the median of list_a

If you need a refresher on how to find the average (or mean) and median, we will cover that later.

In [63]:
list_a = [21,14,7,19,15,47,42,55,97,92]
avg = sum(list_a)/len(list_a)
print(avg)
list_a.sort()
print(list_a)
median = list_a[int(len(list_a)/2)]
print(median)

40.9
[7, 14, 15, 19, 21, 42, 47, 55, 92, 97]
42

## Exercise
Let's combine lists, string methods and a bit of logic.

* Strip the passage of all punctuation
* How many times does the word 'Titanic' appear?
* How many times does 'Carpathia' appear?
* Slightly trickier question - how many words does each paragraph have? (Hint: Split the passage at "\n", then count the words for each paragraph)

In [22]:
titanic = """CAPE RACE, N.F., April 15. -- The White Star liner Olympic reports by wireless this evening that the Cunarder Carpathia reached, at daybreak this morning, the position from which wireless calls for help were sent out last night by the Titanic after her collision with an iceberg. The Carpathia found only the lifeboats and the wreckage of what had been the biggest steamship afloat.

The Titanic had foundered at about 2:20 A.M., in latitude 41:46 north and longitude 50:14 west. This is about 30 minutes of latitude, or about 34 miles, due south of the position at which she struck the iceberg. All her boats are accounted for and about 655 souls have been saved of the crew and passengers, most of the latter presumably women and children. There were about 1,200 persons aboard the Titanic.

The Leyland liner California is remaining and searching the position of the disaster, while the Carpathia is returning to New York with the survivors.

It can be positively stated that up to 11 o'clock to-night nothing whatever had been received at or heard by the Marconi station here to the effect that the Parisian, Virginian or any other ships had picked up any survivors, other than those picked up by the Carpathia.

First News of the Disaster.

The first news of the disaster to the Titanic was received by the Marconi wireless station here at 10:25 o'clock last night (as told in yesterday's New York Times.) The Titanic was first heard giving the distress signal "C. Q. D.," which was answered by a number of ships, including the Carpathia, the Baltic and the Olympic. The Titanic said she had struck an iceberg and was in immediate need of assistance, giving her position as latitude 41:46 north and longitude 50:14 west.

At 10:55 o'clock the Titanic reported she was sinking by the head, and at 11:25 o'clock the station here established communication with the Allan liner Virginian, from Halifax to Liverpool, and notified her of the Titanic's urgent need of assistance and gave her the Titanic's position.

The Virginian advised the Marconi station almost immediately that she was proceeding toward the scene of the disaster.

At 11:36 o'clock the Titanic informed the Olympic that they were putting the women off in boats and instructed the Olympic to have her boats read to transfer the passangers.

The Titanic, during all this time, continued to give distress signals and to announce her position.

The wireless operator seemed absolutely cool and clear-headed, his sending throughout being steady and perfectly formed, and the judgment used by him was of the best.

The last signals heard from the Titanic were received at 12:27 A.M., when the Virginian reported having heard a few blurred signals which ended abruptly."""

In [23]:
import string
# translator = str.maketrans('', '', string.punctuation)
# titanic.translate(translator).replace('\n', '')
# titanic.translate(translator)

# print('Titanic appears {} times'.format(titanic.count('Titanic')))
# print('Carpathia appears {} times'.format(titanic.count('Carpathia')))

x = titanic.split('\n\n')
print(x)
print('The number of paragraphs is {}'.format(len(x)))
print()
for i in range(len(x)):
    cnt = 0
    j = x[i]
    for word in j:
        cnt += 1
    print('The number of words in paragraph {} is {}'.format(i + 1, cnt))

['CAPE RACE, N.F., April 15. -- The White Star liner Olympic reports by wireless this evening that the Cunarder Carpathia reached, at daybreak this morning, the position from which wireless calls for help were sent out last night by the Titanic after her collision with an iceberg. The Carpathia found only the lifeboats and the wreckage of what had been the biggest steamship afloat.', 'The Titanic had foundered at about 2:20 A.M., in latitude 41:46 north and longitude 50:14 west. This is about 30 minutes of latitude, or about 34 miles, due south of the position at which she struck the iceberg. All her boats are accounted for and about 655 souls have been saved of the crew and passengers, most of the latter presumably women and children. There were about 1,200 persons aboard the Titanic.', 'The Leyland liner California is remaining and searching the position of the disaster, while the Carpathia is returning to New York with the survivors.', "It can be positively stated that up to 11 o'clock to-night nothing whatever had been received at or heard by the Marconi station here to the effect that the Parisian, Virginian or any other ships had picked up any survivors, other than those picked up by the Carpathia.", 'First News of the Disaster.', 'The first news of the disaster to the Titanic was received by the Marconi wireless station here at 10:25 o\'clock last night (as told in yesterday\'s New York Times.) The Titanic was first heard giving the distress signal "C. Q. D.," which was answered by a number of ships, including the Carpathia, the Baltic and the Olympic. The Titanic said she had struck an iceberg and was in immediate need of assistance, giving her position as latitude 41:46 north and longitude 50:14 west.', "At 10:55 o'clock the Titanic reported she was sinking by the head, and at 11:25 o'clock the station here established communication with the Allan liner Virginian, from Halifax to Liverpool, and notified her of the Titanic's urgent need of assistance and gave her the Titanic's position.", 'The Virginian advised the Marconi station almost immediately that she was proceeding toward the scene of the disaster.', "At 11:36 o'clock the Titanic informed the Olympic that they were putting the women off in boats and instructed the Olympic to have her boats read to transfer the passangers.", 'The Titanic, during all this time, continued to give distress signals and to announce her position.', 'The wireless operator seemed absolutely cool and clear-headed, his sending throughout being steady and perfectly formed, and the judgment used by him was of the best.', 'The last signals heard from the Titanic were received at 12:27 A.M., when the Virginian reported having heard a few blurred signals which ended abruptly.']
The number of paragraphs is 12

The number of words in paragraph 1 is 382
The number of words in paragraph 2 is 408
The number of words in paragraph 3 is 150
The number of words in paragraph 4 is 269
The number of words in paragraph 5 is 27
The number of words in paragraph 6 is 479
The number of words in paragraph 7 is 286
The number of words in paragraph 8 is 118
The number of words in paragraph 9 is 173
The number of words in paragraph 10 is 99
The number of words in paragraph 11 is 166
The number of words in paragraph 12 is 153

# Sets

Here's how you make a set.

In [24]:
set_a = {1,2,3,4,5}
print(set_a)

{1, 2, 3, 4, 5}

That's it. As simple as that.

So why do we have sets, as opposed to just using lists?
Sets are really fast when it comes to checking for membership. Here's how:

In [25]:
set_a = {1,2,3,4,5}
5 in set_a

True

In [26]:
6 in set_a

False

But wait, there's more!

+ `set_a.add(x)`: add a value to a set
+ `set_a.remove(x)`: remove a value from a set
+ `set_a - set_b`: return values in a but not in b. 
+ `set_a.difference(set_b)`: same as set_a - set_b
+ `set_a | set_b`: elements in a or b. Equivalent to `set_a.union(set_b)`
+ `set_a & set_b`: elements in both a and b. Equivalent to `set_a.intersection(set_b)`
+ `set_a ^ set_b`: elements in a or b but not both. Equivalent to `set_a.symmetric_difference(set_b)` 
+ `set_a <= set_b`:	tests whether every element in set_a is in set_b. Equivalent to `set_a.issubset(set_b)`

In [27]:
set_b = {1,2,3}
print(set_a - set_b)
print(set_a.difference(set_b))

{4, 5}
{4, 5}

### Exercise
An analyst is looking at two portfolios, and wants to identify the unique ones.

* pf1 = {"AA", "AAC", "AAP", "ABB", "AC", "ACCO", "AAPL", "AZO", "ZEN", "PX", "GS"}
* pf2 = {"AA", "GRUB", "AAC", "GWR", "AAP", "C", "AC", "CVS"}

Write code for the following:
* Find the stocks in either pf1 or pf2, but not in both. (Hint: Symmetric Difference)
* Find the stocks in both portfolios (Hint: Intersection)
* Create a third portfolio named pf3, which has pf1 and pf2 combined (Hint: Union)
* Market conditions have changed, let's drop GRUB and CVS from pf3 and add IBM (Hint: set_a.remove(x) and set_a.add(x) )

In [28]:
pf1 = {"AA", "AAC", "AAP", "ABB", "AC", "ACCO", "AAPL", "AZO", "ZEN", "PX", "GS"}
pf2 = {"AA", "GRUB", "AAC", "GWR", "AAP", "C", "AC", "CVS"}

In [30]:
pf1.symmetric_difference(pf2)

{'AAPL', 'ABB', 'ACCO', 'AZO', 'C', 'CVS', 'GRUB', 'GS', 'GWR', 'PX', 'ZEN'}

In [31]:
pf1 & pf2

{'AA', 'AAC', 'AAP', 'AC'}

In [55]:
pf3 = pf1 | pf2
print(pf3)

{'CVS', 'AA', 'AC', 'ZEN', 'GWR', 'AAP', 'GRUB', 'AAC', 'ABB', 'ACCO', 'C', 'GS', 'AZO', 'AAPL', 'PX'}

In [56]:
pf3.remove('GRUB')
pf3.remove('CVS')
pf3.add('IBM')

print(pf3)

{'AA', 'AC', 'ZEN', 'GWR', 'AAP', 'IBM', 'AAC', 'ABB', 'ACCO', 'C', 'GS', 'AZO', 'AAPL', 'PX'}

<img src="images/sets_easy.jpg">

# Tuples

Pronounced too-puhl

We will keep this section very short in this section, but will revisit this later once we have introduced some more advanced concepts.

For now, remember that a tuple is used when the values are fixed. In Python terms, it is what is referred to as 'immutable'.

<img src="images/tuples.jpg">

Examples:

In [57]:
children = ("Meadow", "Anthony")
capos = ("Paulie", "Silvio", "Christopher", "Furio","Richie")

In [58]:
len(children)

2

In [59]:
len(capos)

5

In [60]:
capos

('Paulie', 'Silvio', 'Christopher', 'Furio', 'Richie')

In [62]:
capos = list(capos)

In [63]:
capos

['Paulie', 'Silvio', 'Christopher', 'Furio', 'Richie']

In [64]:
capos.append("Bobby")

In [65]:
capos

['Paulie', 'Silvio', 'Christopher', 'Furio', 'Richie', 'Bobby']

In [66]:
capos = tuple(capos)

In [67]:
capos

('Paulie', 'Silvio', 'Christopher', 'Furio', 'Richie', 'Bobby')

## Tuples and Numbers

In [68]:
monthly_high = (115.20, 113.60, 117.15, 120.90, 118.25)

In [69]:
print("Monthly high is", max(monthly_high))
print("Monthly low is", min(monthly_high))
print("Range:", max(monthly_high)-min(monthly_high))

Monthly high is 120.9
Monthly low is 113.6
Range: 7.300000000000011

<img src="images/commando.gif"> <img src="images/czech.gif">

# Dictionaries

Dictionaries contain a key and a value. They are also referred to as dicts, maps, or hashes.

In [70]:
dict_1 = {"a":1, "b":2, "c":3, "d":4}
print(dict_1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [71]:
fav_book = {
    "title": "Crime and Punishment",
    "author": "Fyodor Dostoyevsky",
    "price": 10.95,
    "pages": 400,
    "source": "Amazon",
    "awesome": True
}

In [72]:
fav_book["title"]

'Crime and Punishment'

In [73]:
fav_book["awesome"]

True

In [74]:
# Rarely used in this manner
fav_book.get("price")

10.95

In [75]:
fav_book["weight"] = 42
print(fav_book)

{'title': 'Crime and Punishment', 'author': 'Fyodor Dostoyevsky', 'price': 10.95, 'pages': 400, 'source': 'Amazon', 'awesome': True, 'weight': 42}

In [76]:
"awesome" in fav_book

True

In [77]:
# Doesn't work!
True in fav_book

False

## Common Dictionary Operations

In [78]:
dict_1 = {"a":1, "b":2, "c":3, "d":4}
print(dict_1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [79]:
dict_1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [80]:
dict_1.values()

dict_values([1, 2, 3, 4])

In [81]:
dict_1.pop("d")
print(dict_1)

{'a': 1, 'b': 2, 'c': 3}

In [82]:
fav_book.pop("awesome")
fav_book

{'author': 'Fyodor Dostoyevsky',
 'pages': 400,
 'price': 10.95,
 'source': 'Amazon',
 'title': 'Crime and Punishment',
 'weight': 42}

## Exercise
Find matching key between the two dictionaries.

In [83]:
a_dict = {"a":"e", "b":5, "c":3, "c": 4}
b_dict = {"c":5, "d":6}

In [84]:
a_set = set(a_dict)
b_set = set(b_dict)

In [85]:
a_set.intersection(b_set)

{'c'}

Over the next two videos, we will cover loops and functions - two really powerful concepts to supercharge your programming.