# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Control-Flow" data-toc-modified-id="Control-Flow-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Control Flow</a></div><div class="lev2 toc-item"><a href="#Multiple-Conditions" data-toc-modified-id="Multiple-Conditions-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Multiple Conditions</a></div><div class="lev2 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2 toc-item"><a href="#Adding-your-own-input" data-toc-modified-id="Adding-your-own-input-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Adding your own input</a></div><div class="lev1 toc-item"><a href="#Loops" data-toc-modified-id="Loops-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Loops</a></div><div class="lev2 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev1 toc-item"><a href="#Range-of-Values" data-toc-modified-id="Range-of-Values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Range of Values</a></div><div class="lev2 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-31"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2 toc-item"><a href="#Exercise" data-toc-modified-id="Exercise-32"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Exercise</a></div><div class="lev1 toc-item"><a href="#Become-a-Control-Freak" data-toc-modified-id="Become-a-Control-Freak-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Become a Control Freak</a></div><div class="lev2 toc-item"><a href="#Break" data-toc-modified-id="Break-41"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Break</a></div><div class="lev2 toc-item"><a href="#Continue" data-toc-modified-id="Continue-42"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Continue</a></div><div class="lev1 toc-item"><a href="#List-Comprehension" data-toc-modified-id="List-Comprehension-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>List Comprehension</a></div><div class="lev2 toc-item"><a href="#Dictionary-Comprehension" data-toc-modified-id="Dictionary-Comprehension-51"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Dictionary Comprehension</a></div>

# Control Flow

Now that we have some basic skills, it's important for us to define the conditions in which they can be executed. This is where control comes into play. 

And as before, very easy topic!

In plain English:
* If condition x is True:
    * Execute statement A
* Else:
    * Execute statement B
    
And that's all there is to it. Now we just need to learn the Python-way of expressing the above phrases.

In [1]:
collection = [1,2,3,4,5]

len(collection)

5

In [2]:
if len(collection) == 5:
    print("Woohoo!")

Woohoo!

In [3]:
collection[1]

2

In [4]:
if collection[0] % 2 == 0:
    print("Divisible")
else:
    print("Not Divisible")

Not Divisible

## Multiple Conditions

So now we can deal with a scenario where there are two possible decisions to be made. What about more than two decision?

Say hello to "elif"!

In [5]:
collection = [1,2,3,4,5]

if collection[0] == 0:
    print ("Zero!")
elif collection[0] == 100:
    print ("Hundred!")
else:
    print("Not Zero or Hundred")

Not Zero or Hundred

In [6]:
x = ["George", "Barack", "Donald"]
test = "Richard"

if test in x:
    print(test, "has been found.")
else:
    print(test, "was not found. Let me add him to the list." )
    x.append(test)
print(x)

Richard was not found. Let me add him to the list.
['George', 'Barack', 'Donald', 'Richard']

## Exercise
Write some code to check if you are old enough to buy a bottle of wine. You need to be 18 or over, but if your State is Texas, you need to be 25 or over.

In [2]:
age = 30
state = 'New York'
if (age >= 18 and state != 'Texas') or (age >= 25 and state == 'Texas'):
    print('You can purchase wine')
else:
    print('Sorry, please come back when you are old enough')

You can purchase wine

## Adding your own input

How about adding your own input and checking against that? This doesn't come in too handy in a data science environment since you typically have a well defined dataset already. Nevertheless, this is important to know.

In [3]:
age = int(input("Please enter your age:"))

if age < 18:
    print("You cannot vote or buy alcohol.")
elif age < 21:
    print("You can vote, but can't buy alcohol.")
else:
    print("You can vote to buy alcohol. ;) ")

Please enter your age:12
You cannot vote or buy alcohol.

In [4]:
mr_prez = ["Bill", "George", "Barack", "Donald"]
name = input("Enter your name:") # Don't need to specify str

Enter your name:Peter

In [5]:
type(name)

str

In [6]:
if name in mr_prez:
    print("You share your name with a President.")
else:
    print("You too can be president some day.")

You too can be president some day.

# Loops

Time to supercharge our Python usage. Loops are in some ways, the basis for automation. Check if a condition is true, then execute a step, and keep executing it till the condition is no longer true.

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for number in numbers:
    if number % 2 == 0:
        print("Divisible by 2.")
    else:
        print("Not divisible by 2.")

Not divisible by 2.
Divisible by 2.
Not divisible by 2.
Divisible by 2.
Not divisible by 2.
Divisible by 2.
Not divisible by 2.
Divisible by 2.
Not divisible by 2.
Divisible by 2.

In [13]:
numbers = {1,2,3,4,5,6,7,8,9,10}
for num in numbers:
    if num%3 == 0:
        print("Divisible by 3.")
    else:
        print("Not divisible by 3.")

Not divisible by 3.
Not divisible by 3.
Divisible by 3.
Not divisible by 3.
Not divisible by 3.
Divisible by 3.
Not divisible by 3.
Not divisible by 3.
Divisible by 3.
Not divisible by 3.

When using dictionaries, you can iterate through keys, values or both.

In [14]:
groceries = {"Milk":2.5, "Tea": 4, "Biscuits": 3.5, "Sugar":1}
print(groceries.keys())
print(groceries.values())

dict_keys(['Biscuits', 'Tea', 'Milk', 'Sugar'])
dict_values([3.5, 4, 2.5, 1])

In [15]:
# item here refers to the the key in set name groceries
for a in groceries.keys():
    print(a)

Biscuits
Tea
Milk
Sugar

In [16]:
for price in groceries.values():
    print(price)

3.5
4
2.5
1

In [17]:
for (key, val) in groceries.items():
    print(key,val)

Biscuits 3.5
Tea 4
Milk 2.5
Sugar 1

In [18]:
groceries.items()

dict_items([('Biscuits', 3.5), ('Tea', 4), ('Milk', 2.5), ('Sugar', 1)])

In [19]:
groceries.keys()

dict_keys(['Biscuits', 'Tea', 'Milk', 'Sugar'])

In [20]:
groceries.values()

dict_values([3.5, 4, 2.5, 1])

## Exercise
* Print the names of the people in the dictionary 'data'
* Print the name of the people who have 'incubees'
* Print the name, and net worth of people with a net worth higher than 500,000
* Print the names of people without a board seat

Enter your responses in the fields below. This is solved for you if you scroll down, but you can't cheat yourself!

In [6]:
data = {
        "Richard": {
            "Title": "CEO", 
            "Employees": ["Dinesh", "Gilfoyle", "Jared"],
            "Awards": ["Techcrunch Disrupt"],
            "Previous Firm": "Hooli",
            "Board Seat":1,
            "Net Worth": 100000
        }, 
        "Jared": {
            "Real_Name": "Donald", 
            "Title": "CFO",
            "Previous Firm": "Hooli",
            "Board Seat":1,
            "Net Worth": 500
        },
        "Erlich": { 
            "Title": "Visionary", 
            "Previous Firm": "Aviato", 
            "Current Firm": "Bachmannity",
            "Incubees": ["Richard", "Dinesh", "Gilfoyle", "Nelson", "Jian Yang"],
            "Board Seat": 1,
            "Net Worth": 5000000
        }, 
        "Nelson": { 
            "Title": "Co-Founder", 
            "Current Firm": "Bachmannity", 
            "Previous Firm": "Hooli",
            "Board Seat": 0,
            "Net Worth": 10000000
        },
    }

In [10]:
print(data.keys())

dict_keys(['Richard', 'Jared', 'Erlich', 'Nelson'])

In [7]:
for i in data.items():
    if 'Incubees' in i[1]:
            print(i[0])

Erlich

In [10]:
for name in data.items():
    if 'Net Worth' in name[1] and name[1]['Net Worth'] > 500000:
            print(name[0], name[1]['Net Worth'])

Erlich 5000000
Nelson 10000000

In [11]:
for name in data.items():
    if 'Board Seat' in name[1] and name[1]['Board Seat'] == 0:
            print(name[0])

Nelson

In [22]:
# Name of people in the dictionary
data.keys()

dict_keys(['Richard', 'Nelson', 'Erlich', 'Jared'])

In [23]:
# Alternate way to get the name of the people in the dictionary
for name in data.keys():
    print(name)

Richard
Nelson
Erlich
Jared

In [24]:
# Name of people who have incubees
for name in data.items():
    if "Incubees" in name[1]:
        print (name[0])

Erlich

In [25]:
# Name and networth of people with a networth greater 500000
for name in data.items():
    if "Net Worth" in name[1] and name[1]["Net Worth"]>500000:
        print (name[0], name[1]["Net Worth"])

Nelson 10000000
Erlich 5000000

In [26]:
# Name of people who don't have a board seat
for name in data.items():
    if "Board Seat" in name[1] and name[1]["Board Seat"]  == 0:
        print (name[0])

Nelson

# Range of Values
We often need to define a range of values for our program to iterate over.

In [27]:
# Generate a list on the fly
nums = list(range(10))
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In a defined range, the lower number is inclusive, and upper number is exclusive. So 0 to 10 would include 0 but exclude 10. So if we need a specific range, we can use this knowledge to our advantage.

In [28]:
nums = list(range(1,11))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

We can also specify a range without explicitly defining an upper or lower range, in which case, Python does it's magic: range will be 0 to one less than the number specified.

In [29]:
nums = list(range(10))
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We can also use the range function to perform mathematical tricks.

In [30]:
for i in range(1,6):
    print("The square of",i,"is:",i**2)

The square of 1 is: 1
The square of 2 is: 4
The square of 3 is: 9
The square of 4 is: 16
The square of 5 is: 25

Or to check for certain other conditions or properties, or to define how many times an activity will be performed.

In [31]:
for i in range(1,10):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

## Exercise
Print all numbers from 1 to 20

In [12]:
nums = list(range(1, 21))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

## Exercise
Print the square of the first 10 [natural numbers](https://en.wikipedia.org/wiki/Natural_number).

In [16]:
for i in range(10):
    print(i, i**2)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

# Become a Control Freak
And now, it's time to become a master of control! A data scientist needs absolute control over loops, stopping when defined conditions are met, or carrying on till a solution if found.
<img src="images/break.jpg">

## Break

In [34]:
for i in range(1,100):
    print("The square of",i,"is:",i**2)
    if i >= 5:
        break
print("Broken")

The square of 1 is: 1
The square of 2 is: 4
The square of 3 is: 9
The square of 4 is: 16
The square of 5 is: 25
Broken

## Continue
Break's cousin is called Continue.

If a certain condition is met, carry on.

In [35]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
for letter in letters:
    print("Currently testing letter", letter)
    if letter == "e":
        print("I plead the 5th!")
        continue
    print( letter)

Currently testing letter a
a
Currently testing letter b
b
Currently testing letter c
c
Currently testing letter d
d
Currently testing letter e
I plead the 5th!
Currently testing letter f
f
Currently testing letter g
g
Currently testing letter h
h
Currently testing letter i
i
Currently testing letter j
j

# List Comprehension
Remember lists? Now here's a way to power through a large list in one line!

As a Data Scientist, you will need to write a lot of code very efficiently, especially in the data exploration stage. The more experiments you can run to understand your data, the better it is. This is also a very useful tool in transforming one list (or dictionary) into another list.

Let's begin by some simple examples

First, we will write a program to generate the squares of the first 10 natural numbers, using a standard for loop. 
Next, we will contrast that with the List Comprehension approach.

In [36]:
# Here is a standard for loop
numList = []
for num in range(1,11):
    numList.append(num**2)
print (numList)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

So far, so good!

In [37]:
# Now for List Comprehension
sqList = [num**2 for num in range(1,11)]
print(sqList)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
[num**2 for num in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

How's that for speed?!

Here's the format for List Comprehensions, in English.

ListName = [Expected_Result_or_Operation for Item in a given range]<br>
print the ListName

In [39]:
cubeList = [num**3 for num in range(6)]
print(cubeList)

[0, 1, 8, 27, 64, 125]

List comprehensions are very useful when dealing with an existing list. Let's see some examples.

In [40]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [41]:
# For every n in the list named nums, I want an n
my_list1 = [n for n in nums]
print(my_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
# For every n in the list named nums, I want n to be squared
my_list2 = [n**2 for n in nums]
print(my_list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
# For every n in the list named nums, I want n, only if it is even
my_list3 = [n for n in nums if n%2 == 0]
print(my_list3)

[2, 4, 6, 8, 10]

How about calculating the areas of circles, given a list of radii? That too in just one line.

In [44]:
radius = [1.0, 2.0, 3.0, 4.0, 5.0]
import math

# Area of Circle = Pi * (radius**2)

area = [round((r**2)*math.pi,2) for r in radius]
print(area)

[3.14, 12.57, 28.27, 50.27, 78.54]

## Dictionary Comprehension
Let's get back to our dictionary named Data. Dictionary Comprehension can be a very efficient way to extract information out of them. Especially when you have thousands or millions of records.

In [45]:
data = {
        "Richard": {
            "Title": "CEO", 
            "Employees": ["Dinesh", "Gilfoyle", "Jared"],
            "Awards": ["Techcrunch Disrupt"],
            "Previous Firm": "Hooli",
            "Board Seat":1,
            "Net Worth": 100000
        }, 
        "Jared": {
            "Real_Name": "Donald", 
            "Title": "CFO",
            "Previous Firm": "Hooli",
            "Board Seat":1,
            "Net Worth": 500
        },
        "Erlich": { 
            "Title": "Visionary", 
            "Previous Firm": "Aviato", 
            "Current Firm": "Bachmannity",
            "Incubees": ["Richard", "Dinesh", "Gilfoyle", "Nelson", "Jian Yang"],
            "Board Seat": 1,
            "Net Worth": 5000000
        }, 
        "Nelson": { 
            "Title": "Co-Founder", 
            "Current Firm": "Bachmannity", 
            "Previous Firm": "Hooli",
            "Board Seat": 0,
            "Net Worth": 10000000
        },
    }

In [46]:
# Print all details for people who have incubees
[(k,v) for k, v in data.items() if "Incubees" in v ]

[('Erlich',
  {'Board Seat': 1,
   'Current Firm': 'Bachmannity',
   'Incubees': ['Richard', 'Dinesh', 'Gilfoyle', 'Nelson', 'Jian Yang'],
   'Net Worth': 5000000,
   'Previous Firm': 'Aviato',
   'Title': 'Visionary'})]

In [47]:
for name in data.items():
    if "Net Worth" in name[1] and name[1]["Net Worth"]>500000:
        print (name[0], name[1]["Net Worth"])

Nelson 10000000
Erlich 5000000

In [48]:
high_nw = [(name[0], name[1]["Net Worth"]) for name in data.items() if "Net Worth" in name[1] and name[1]["Net Worth"]>500000]
print(high_nw)

[('Nelson', 10000000), ('Erlich', 5000000)]

In [49]:
type(high_nw)

list

In [50]:
type(high_nw[0])

tuple

We can also use dictionary comprehension to create new dictionaries

In [51]:
name = ['George HW', 'Bill', 'George', 'Barack', 'Donald', 'Bugs']
surname = ['Bush', 'Clinton', 'Bush Jr', 'Obama', 'Trump', 'Bunny']
full_names = {n:s for n,s in zip(name,surname)}
full_names

{'Barack': 'Obama',
 'Bill': 'Clinton',
 'Bugs': 'Bunny',
 'Donald': 'Trump',
 'George': 'Bush Jr',
 'George HW': 'Bush'}

In [52]:
# What if we want to exclude certain values?
full_names = {n:s for n,s in zip(name, surname) if n!='Bugs'}
print(full_names)

{'Donald': 'Trump', 'George HW': 'Bush', 'Barack': 'Obama', 'George': 'Bush Jr', 'Bill': 'Clinton'}